*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b1b1d;

}

.main,#__ryunix{
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #1b1b1d;
}

.main .sidebar{
  max-width: 496px;
  width: 100%;
  height: inherit;
  background-color: #1b1b1d;
  border-right: 1px solid #444950;

  padding: 5px;

}
.main .sidebar nav{
  position: sticky;
  top: 8px;
  height: min-content;
}
.main .sidebar .logo {
  position: relative;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.main .sidebar .logo img{
  position: relative;

  width: 100px;
  height: 100px;

}

.main .sidebar nav ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

}
.main .sidebar nav ul li{

  list-style: none;
  width: 100%;

}

.main .sidebar nav ul li a:hover{
  background: #2b2b2b;
  cursor: pointer;

}
.main .sidebar nav ul li a{
  text-decoration: none;
  color: white;

  padding: 10px;
  border-radius: 5px;
  display: block;
  background-color: transparent;
  font-size: 17px;
  text-align: end;
  margin-right: 10px;
}


.main .sidebar nav ul li button:hover{
  background: #2b2b2b;
  cursor: pointer;

}
.main .sidebar nav ul li button{
  text-decoration: none;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  display: block;
  background-color: transparent;
  font-size: 17px;
  text-align: end;
  margin-right: 10px;
}


.main .container{
  flex-grow: 1;
  padding: 20px;
  max-width: 1107px;
  right: 0;
}
.main .container .content{

  width: 100%;

  margin: 0 auto;
}
.main .container .content h1{
  font-size: 3rem;
  margin-bottom: calc(1.25 * 1.25 * 1rem);
}
.content ul{
  padding-left: 50px;
  color: #fff;
}
.content ul{

  max-width: 50rem;
  padding-left: 20px;
  padding-right: 20px;
}

h1, h2, h3, h4, h5, h6, p{
  color: #fff;
}
p{
  margin-top: 1.25 * 1rem ;

  margin-bottom: 1.25 * 1rem ;
}

pre{
  margin-top: 10px;
  margin-bottom: 1.25 * 1rem ;

}
.code-title{
  padding: 10px;
  background-color: black;
  border-radius: 10px 10px 0px 0px;
}
.code {
  font-family: Source Code Pro,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  font-size: 14.6px;
  line-height: 24px;
  display: block;
  background: #212121;
  color: cornflowerblue;
  padding: 13px;
  border-radius: 0px 0px 10px 10px;
  font-weight: 800;
}

.Alert {
  padding: 10px;
  background: #454545;
  border-radius: 5px;
}

.Alert p{
  color: #d3d3d3;

}

.Alert.warning{
  background-color: rgb(182 87 0 / 26%);
}

button{
  background-color: dodgerblue;
  color: #fff;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.gap-10{
  gap: 10px;
}

a{
  color: white;
  font-weight: bold;
}

.beta {
  font-size: 20px;
  background-color: brown;
  padding: 5px;
  height: min-content;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

h1{
  display: flex;
  gap: 10px;
  align-items: center;
}